body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #434455;
    background-color: #FFFFFF;
}

ul,
ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1158px) {
    .container {
    width: 766px;
    padding: 0 16px;
    }
    .section {
    padding-top: 96px;
    padding-bottom: 96px;
    }
    img {
    max-width: 100%;
    }
}

@media (max-width: 1158px) {
    .features-icons {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
}

@media (max-width: 767px) {
    .container {
    width: 318px;
    padding: 0 16px;
    }

    .section {
    padding-top: 96px;
    padding-bottom: 96px;
    }

    img {
    max-width: 100%;
    }

    .menu-nav-container {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

    .contacts {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
}

@media (min-width: 767px) {
    .header-menu-icon {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
}

/*------------ HEADER---------------- */

.header-border {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    padding: 0 15px
    border-bottom: 1px solid #e7e9fc;
}

.nav-container {
    display: flex;
    align-items: center;
}

.menu-nav-container {
    display: flex;
    gap: 40px;
}

.contacts-container {
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.current {
    position: relative;
    color: #404bbf;
}

.menu-nav-container .colored {
    color: #404bbf;
}

.transition {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    color: #4d5ae5;
    margin-right: 76px;
    display: inline-block;
}

.logo-part {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.menu-nav {
    display: block;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #2e2f42;
    padding: 24px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav:hover, .menu-nav:focus {
    color: #404bbf;
    line-height: 1.5;
}

.contacts {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    font-style: normal;
    margin-left: auto;
    line-height: 1.5;
    color: #434455;
}

.contacts-list {
    color: #434455;
    line-height: 1.5;
}

.contacts-list:hover, .contacts-list:focus {
    color: #404bbf;
}

@media (min-width: 768px) and (max-width: 1158px) {
    .contacts-container {
    flex-direction: column;
    gap: 12px;
    }

    .logo {
    margin-right: 120px;
    }
}

@media (max-width: 767px) {
    .logo {
    margin: 0 auto;
    margin-right: 149px;
    padding-top: 16px;
    padding-bottom: 16px;
    }

    .header-container {
    padding: 0 16px;
    }
}

@media (max-width: 767px) {
    .mobile-menu {
    position: fixed;
    width: 100%;
    min-height: 100%;
    z-index: 999;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    }
    .mobile-menu.is-open {
    opacity: 1;
    pointer-events: auto;
    }
    .mob-menu-close-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    border: 1px solid #e7e9fc;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .mob-menu-close-icon {
    fill: #2e2f42;
    }
    .mob-nav-menu-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    }
    .mob-nav-menu-link.accent {
    color: #404bbf;
    }
    .mob-nav-menu-item {
    list-style-type: none;
    margin-bottom: 40px;
    }
    .mob-nav-menu-item:last-child {
    margin-bottom: 0;
    }
    .mob-nav-menu {
    margin-bottom: auto;
    }
    .mob-menu-address {
    font-style: normal;
    margin-bottom: 48px;
    }
    .mob-menu-address-link {
    text-decoration: none;
    color: #434455;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: block;
    }
    .mob-menu-address-item {
    margin-bottom: 24px;
    }
    .mob-menu-address-link.accent {
    color: #4d5ae5;
    }
    .mob-menu-social-list {
    display: flex;
    gap: 40px;
    margin: 0 auto;
    }
    .mob-menu-social-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .mob-menu-social-icon {
    fill: #f4f4fd;
    }
}

@media (min-width: 768px) {
    .mobile-menu {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
}

/*------------ MAIN---------------- */

.main {
    background: #2e2f42;
}

.first-section {
    padding: 188px 0;
}

.back-moto-img {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/back-moto-img-desk.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.moto {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 48px;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover, button:focus {
    background-color: #404BBF
}

@media screen and (min-width: 1158px) {
    .back-moto-img {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/back-moto-img-desk.jpg);
    }

@media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
    .back-moto-img {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/back-moto-img-desk@2x.jpg);
        }
    }
}

@media (min-width: 768px) and (max-width: 1158px) {
    .back-moto-img {
    min-width: 768px;
    height: 436px;
    }
    .first-section {
    padding: 112px 0;
    }
    .moto {
    margin-bottom: 36px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
    .back-moto-img {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/back-moto-img-tab.jpg);
    }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .back-moto-img {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/back-moto-img-tab@2x.jpg);
    }
}

@media (max-width: 767px) {
    .back-moto-img {
    min-width: 320px;
    height: 432px;
    }
    .moto {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
    }
    .first-section {
    padding: 72px 0;
    }
}

@media screen and (max-width: 767px) {
    .back-moto-img {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/back-moto-img-mob.jpg);
    }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .back-moto-img {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/back-moto-img-mob@2x.jpg);
        }
}

/*------------ FEATURES---------------- */

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.subtitle-list {
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-container {
    display: flex;
    gap: 24px;
    list-style-type: none;
}

.second-section {
    flex-basis: calc((100% - 3 * 24px) / 1);
}

.features-list {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-list-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}

.features-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

@media (min-width: 768px) and (max-width: 1158px) {
    .features-list {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    }
    .features-list-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    width: 356px;
    }
    .features-container {
    width: 736px;
    flex-wrap: wrap;
    row-gap: 72px;
    justify-content: center;
    }
    .second-section {
    flex-basis: calc((100% - 192px) / 2);
    }
}

@media (max-width: 767px) {
    .features-container {
    flex-direction: column;
    gap: 72px;
    }
    .features-list {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    }
    .features-list-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }
}


/*------------ TEAM---------------- */

.team {
    background: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
    }

.team-container {
    display: flex;
    gap: 24px;
    list-style-type: none;
}

.team-names {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.2;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-positions {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.5;
    color: #434455;
}

.team-card {
    background: #fff;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item-container {
    padding: 32px 0;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0 auto;
    padding-top: 8px;
}

.social-list .social-list-item {
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 40px;
    height: 40px;
}

.social-icon {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover,
.social-icon:focus {
    background-color: #404bbf;
}

.icon-colored {
    fill: #f4f4fd;
}

@media (min-width: 768px) and (max-width: 1158px) {
    .team-container {
    flex-wrap: wrap;
    row-gap: 64px;
    justify-content: center;
    }
    .team-card {
    flex-basis: calc((100% - 176px) / 2);
    max-width: 264px;
    }
}

@media (max-width: 767px) {
    .team-container {
    flex-direction: column;
    align-items: center;
    gap: 72px;
    }
    .team-card {
    max-width: 264px;
    }
}

/*------------ PORTFOLIO---------------- */

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.11;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.port-item-container {
    flex-basis: calc(1128px / 6);
}

.overlay {
    transition-property: box-shadow;
    transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.overlay:hover p {
    transform: translateY(0%);
}

.app-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-products {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-products-type {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}

.portfolio-animation {
    position: relative;
    overflow: hidden;
}

.portfolio-animation-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

@media (min-width: 768px) and (max-width: 1158px) {
    .portfolio-container {
    row-gap: 72px;
    justify-content: center;
    }
    .port-item {
    flex-basis: calc((100% - 24px) / 2);
    }
}

@media (max-width: 767px) {
    .portfolio-container {
    flex-direction: column;
    align-items: center;
    gap: 48px;
    }
}

/*------------ FOOTER---------------- */

.footer {
    background: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.logo-footer {
    margin-bottom: 16px;
}

.logo-lower {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #f4f4fd;
    display: inline-block;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-topic-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-first {
    margin-right: 120px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-subscribe-container {
    margin-left: 80px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-label {}

.footer-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

.footer-form-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button-icon {
    margin-left: 16px;
    fill: #ffffff;
}

.footer-form-button:hover,
.footer-form-button:focus {
    background-color: #404bbf;
}

.icon-fill {
    fill: #f4f4fd;
}

@media (min-width: 768px) and (max-width: 1158px) {
    .footer-container {
    flex-wrap: wrap;
    padding-top: 96px;
    padding-bottom: 96px;
    max-width: 630px;
    }

    .footer-first {
    margin-bottom: 72px;
    }

    .footer-form-input {
    opacity: 0.3;
    }

    input::placeholder {
    opacity: 0.6;
    }
}

@media (max-width: 767px) {
    .footer-first {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 72px;
    }

    .footer-first>.footer-text {
    text-align: left;
    }

    .footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 72px;
    }

    .footer-container {
    flex-direction: column;
    padding-top: 96px;
    padding-bottom: 96px;
    }

    .footer-subscribe-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    }

    .footer-form {
    flex-direction: column;
    }

    .footer-topic-text {
    text-align: center;
    }

    .footer-form-input {
    opacity: 0.3;
    }

    input::placeholder {
    opacity: 0.6;
    }

    .footer-form-button {
    margin: 0 auto;
    }
}

/* ---------Modal Window -------*/

.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.form-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-close-btn:hover,
.form-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.form-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-close-btn:hover .form-close-btn-icon,
.form-close-btn:focus .form-close-btn-icon {
    fill: #ffffff;
}

.form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 16px;
}

.form-container {
    margin-bottom: 8px;
}

.form-label-item {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.form-input-container {
    position: relative;
    margin-bottom: 8px;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4d5ae5;
}

.form-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 12px;
    height: 12px;
}

.form-input-container:focus-within .form-input-icon {
    fill: #4d5ae5;
}

.form-comment-container {
    margin-bottom: 16px;
}

.form-comment-input {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment-input:focus {
    border-color: #4d5ae5;
}

.form-checkbox-container {
    margin-bottom: 24px;
}

.form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-custom-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.form-checkbox-input:checked+.form-checkbox-label>.form-custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.form-checkbox-link-text {
    color: #4d5ae5;
    margin-left: 8px;
}

.form-submit-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.form-submit-button:hover,
.form-submit-button:focus {
    background-color: #404bbf;
}

@media (min-width: 768px) and (max-width: 1158px) {
    .modal {
    top: 40%;
    }
}

@media (max-width: 767px) {
    .modal {
    width: 288px;
    min-height: 623px;
    padding-left: 16px;
    padding-right: 16px;
    }
    .form-checkbox-label {
    display: flex;
    align-items: center;
    }
    .checkbox-text-mobile {
    max-width: 231px;
    display: flex;
    flex-direction: column;
    }
    .form-checkbox-link-text {
    margin: 0;
    }
}